menubar > menu { color: #ecf0f1 !important; } menubar > menu[_moz-menuactive="true"][open="false"] { color: #ecf0f1 !important; } menubar > menu[_moz-menuactive="true"][open="true"] { color: #ecf0f1 !important; } /* MenuColors, Added by QtCurve -- do not remove */

.tab-background-middle {
border-left: none !important;
border-right: none !important;
margin: 0 0px !important;
}

.tab-background,
.tabs-newtab-button {
-moz-margin-end: 0.5px !important;
-moz-margin-start: 0.5px !important;
}

.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
-moz-padding-end: 0 !important;
-moz-padding-start: 0 !important;
}

.tab-background-start::after,
.tab-background-start::before,
.tab-background-start,
.tab-background-end,
.tab-background-end::after,
.tab-background-end::before {
width: 0px !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
.tabs-newtab-button:hover {
background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.5)) !important;
background-size: 100% !important;
}

#tabbrowser-tabs[movingtab] > .tabbrowser-tab[afterselected]::before,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]::after,
#tabbrowser-tabs[overflow] > .tabbrowser-tab[last-visible-tab]:not([selected])::after,
#tabbrowser-tabs[overflow] > .tabbrowser-tab[first-visible-tab]:not([selected])::before,
.tabbrowser-tab:not([selected]):not([afterselected]):hover::before,
.tabbrowser-tab:not([selected]):not([beforeselected]):hover::after,
.tabbrowser-tab:not([selected]):not([afterselected])::before,
.tabbrowser-tab:not([selected]):not([beforeselected])::after {
-moz-margin-start: -1.5px !important;
-moz-margin-end: -1.5px !important;
background-image: url(chrome://browser/skin/tabbrowser/tab-separator.png) !important;
/*background-image: none !important;*/
background-size: 3px 100% !important;
content: "" !important;
display: -moz-box !important;
margin-bottom: 2px !important;
width: 3px !important;
}

.tabbrowser-tab[selected]::before,
.tabbrowser-tab[selected]::after {
-moz-margin-start: -0.5px !important;
-moz-margin-end: -0.0px !important;
background-color: rgba(29,49,75,0.3843) !important;
background-size: 1px 100% !important;
content: "" !important;
display: -moz-box !important;
margin-bottom: 2px !important;
margin-top: 1px !important;
width: 1px !important;
}

#tabbrowser-tabs{
margin-left: -1px !important;
}

/* OWN */
.tabbrowser-tab:not([selected]),
.tabs-newtab-button {
    background-color: rgba(217,221,222,1) !important;
}

.tabs-newtab-button {
    margin-left: 0px;
}

.tabbrowser-tab[selected] {
/*    background-color: rgba(241,244,245,1) !important;*/
}

.tabbrowser-tab > .tab-stack >.tab-background[selected=true] {
margin-top: -2px !important;
background-color: rgba(241, 244, 245, 1) !important;
}


#new-tab-button, #alltabs-button {
    background-color: rgba(217,221,222,1) !important;
    -moz-appearance: none !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    opacity: 0.9;
    border: 0px solid !important;
}

#new-tab-button:hover::before,
#new-tab-button:hover::after {
    -moz-margin-start: -0.5px !important;
    -moz-margin-end: -0.0px !important;
    background-color: rgba(29,49,75,0.3843) !important;
    background-size: 1px 100% !important;
    content: "" !important;
    display: -moz-box !important;
    margin-bottom: 2px !important;
    margin-top: 1px !important;
    width: 1px !important;
}

.tabbrowser-arrowscrollbox *[class^="scrollbutton"] {
    /* Hide tab scroll buttons */
    -moz-appearance: none !important;
    background: rgba(217,221,222,1) !important;
    border-radius: 0px 0px 0px 0px !important;
    border: 0px solid !important;
}

.tabbrowser-tabs .scrollbutton-up {
    margin-left: 0px !important;
}
.tabbrowser-tabs .scrollbutton-down{
    margin-right: 2px !important;
}
